{% extends 'bases/base.html' %}

{% block main %}

<div class="slider-main h-800x h-sm-auto pos-relative pt-95 pb-25">
    <div class="img-bg bg-1 bg-layer-4"></div>
    <div class="container-fluid h-100 mt-xs-50">
		
        <div class="row h-100">
            <div class="col-md-1"></div>
            <div class="col-sm-12 col-md-5 h-100 h-sm-50">
                <div class="dplay-tbl">
                    <div class="dplay-tbl-cell color-white mtb-30">
                        <div class="mx-w-400x">
                            <h5><b>ART</b></h5>
                            <h1 class="mt-20 mb-30"><b>The Shoddy Science Behind most Pregnancy Advice</b></h1>
                            <h6><a class="plr-20 btn-brdr-grey color-white" href="#"><b>Continue Reading</b></a></h6>
                        </div><!-- mx-w-200x -->
                    </div><!-- dplay-tbl-cell -->
                </div><!-- dplay-tbl -->
            </div><!-- col-sm-6 -->
				
            <div class="col-sm-12 col-md-6 h-sm-50 oflow-hidden swiper-area pos-relative">			
	
                <div class="abs-blr pos-sm-static">
                    <div class="row pos-relative mt-50 all-scroll">
						
                        <div class="swiper-scrollbar resp"></div>
                        <div class="col-md-10">
								
                            <h5 class="mb-50 color-white"><b>HOT NEWS</b></h5>
								
                            <div class="swiper-container oflow-visible" data-slide-effect="slide" data-autoheight="false" 
                                data-swiper-speed="500" data-swiper-margin="25" data-swiper-slides-per-view="2"
                                data-swiper-breakpoints="true" data-scrollbar="true" data-swiper-loop="true"
                                data-swpr-responsive="[1, 2, 1, 2]">
									
									
								
                                <div class="swiper-wrapper">
                                    <!-- data-swiper-autoplay="1000"  --> 
                                    <div class="swiper-slide">
                                        <div class="bg-white">
                                            <img src="/static/images/hot_news_1_300x150.jpg" alt="">
												
                                            <div class="plr-25 ptb-15">
                                                <h5 class="color-ash"><b>ART</b></h5>
                                                <h4 class="mtb-10">
                                                    <a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h4>
                                                <ul class="list-li-mr-10 color-lt-black">
                                                    <li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
                                                    <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
                                                </ul>
                                            </div><!-- hot-news -->
                                        </div><!-- hot-news -->
                                    </div><!-- swiper-slide -->
										
                                    <div class="swiper-slide">
                                        <div class="bg-white">
                                            <img src="/static/images/hot_news_2_300x150.jpg" alt="">
												
                                            <div class="plr-25 ptb-15">
                                                <h5 class="color-ash"><b>ART</b></h5>
                                                <h4 class="mtb-10">
                                                    <a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h4>
                                                <ul class="list-li-mr-10 color-lt-black">
                                                    <li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
                                                    <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
                                                </ul>
                                            </div><!-- hot-news -->
                                        </div><!-- hot-news -->
                                    </div><!-- swiper-slide -->
										
                                    <div class="swiper-slide">
                                        <div class="bg-white">
                                            <img src="/static/images/hot_news_3_300x150.jpg" alt="">
												
                                            <div class="plr-25 ptb-15">
                                                <h5 class="color-ash"><b>ART</b></h5>
                                                <h4 class="mtb-10">
                                                    <a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h4>
                                                <ul class="list-li-mr-10 color-lt-black">
                                                    <li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
                                                    <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
                                                </ul>
                                            </div><!-- hot-news -->
                                        </div><!-- hot-news -->
                                    </div><!-- swiper-slide -->
										
										
                                    <div class="swiper-slide">
                                        <div class="bg-white">
                                            <img src="/static/images/hot_news_1_300x150.jpg" alt="">
												
                                            <div class="plr-25 ptb-15">
                                                <h5 class="color-ash"><b>ART</b></h5>
                                                <h4 class="mtb-10">
                                                    <a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h4>
                                                <ul class="list-li-mr-10 color-lt-black">
                                                    <li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
                                                    <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
                                                </ul>
                                            </div><!-- hot-news -->
                                        </div><!-- hot-news -->
                                    </div><!-- swiper-slide -->
										
                                </div><!-- swiper-wrapper -->
                            </div><!-- swiper-container -->
								
                        </div><!-- col-sm-6 -->
                    </div><!-- all-scroll -->
                </div><!-- row -->
            </div><!-- col-sm-6 -->
				
        </div><!-- row -->
    </div><!-- container -->
</div><!-- slider-main -->
	
	
<section class="bg-1-white ptb-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-md-12 col-lg-8 ptb-50 pr-30 pr-md-15">
                <div class="row">
					
                    <!-- START OF FIRST PARA -->
                    <div class="col-md-6 col-lg-6 col-xl-4 mb-30">
                        <div class="card h-100 bg-white">
                            <div class="plr-25 ptb-15">
								
                                <h5 class="color-ash"><b>ART</b></h5>
                                <h4 class="mtb-10"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h4>
                                <ul class="list-li-mr-10 color-lt-black">
                                    <li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
                                    <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
                                </ul>
									
                            </div><!-- hot-news -->
                        </div><!-- card -->
                    </div><!-- col-lg-4 col-md-6 -->
						
                    <div class="col-md-6 col-lg-6 col-xl-4 mb-30">
                        <div class="card h-100 bg-white">
                            <div class="plr-25 ptb-15">
								
                                <h5 class="color-ash"><b>ART</b></h5>
                                <h4 class="mtb-10"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h4>
                                <ul class="list-li-mr-10 color-lt-black">
                                    <li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
                                    <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
                                </ul>
									
                            </div><!-- hot-news -->
                        </div><!-- card -->
                    </div><!-- col-lg-4 col-md-6 -->
						
                    <div class="col-md-6 col-lg-6 col-xl-4 mb-30">
                        <div class="card h-100 bg-white">
                            <div class="plr-25 ptb-15">
								
                                <h5 class="color-ash"><b>ART</b></h5>
                                <h4 class="mtb-10"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h4>
                                <ul class="list-li-mr-10 color-lt-black">
                                    <li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
                                    <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
                                </ul>
									
                            </div><!-- hot-news -->
                        </div><!-- card -->
                    </div><!-- col-lg-4 col-md-6 -->
					
                    <!-- END OF FIRST PARA -->
                </div><!-- row -->
					
                <h4 class="mb-30 mt-20 clearfix"><b>Whats trending</b></h4>
					
                <div class="row">
						
                    <!-- START OF SECOND PARA -->
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 mb-30">
                        <div class="card h-100 h-xs-500x">
                            <div class="sided-half sided-xs-half h-100 bg-white">
								
                                <!-- SETTING IMAGE WITH bg-2 -->
                                <div class="s-left w-50 w-xs-100 h-100 h-xs-50 pos-relative">
                                    <div class="bg-2 abs-tblr"></div></div>
									
                                <div class="s-right w-50 w-xs-100 h-xs-50">
                                    <div class="plr-25 ptb-25 h-100">
                                        <div class="dplay-tbl">
                                            <div class="dplay-tbl-cell">
												
                                                <h5 class="color-ash"><b>ART</b></h5>
                                                <h2 class="mtb-10"><a href="#">
                                                    <b>As an Alchoholic, Your Company "Parks" are Killing me</b></a></h2>
                                                <ul class="list-li-mr-10 color-lt-black">
                                                    <li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
                                                    <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
                                                </ul>
													
                                            </div><!-- dplay-tbl-cell -->
                                        </div><!-- dplay-tbl -->
                                    </div><!-- plr-25 ptb-25 -->
                                </div><!-- s-right -->
                            </div><!-- sided-half -->
                        </div><!-- card -->
                    </div><!-- col-lg-8 col-md-12 -->
						
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-30">
                        <div class="card h-100 h-xs-350x">
                            <div class="bg-white h-100">
								
                                <!-- SETTING IMAGE WITH bg-3 -->
                                <div class="h-50 bg-3 dplay-lg-none dplay-xs-block"></div>
									
                                <div class="plr-25 ptb-15 h-50">
                                    <div class="dplay-tbl">
                                        <div class="dplay-tbl-cell">
											
                                            <h5 class="color-ash"><b>ART</b></h5>
                                            <h4 class="mtb-10">
                                                <a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h4>
                                            <ul class="list-li-mr-10 color-lt-black">
                                                <li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
                                                <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
                                            </ul>
												
                                        </div><!-- dplay-tbl-cell -->
                                    </div><!-- dplay-tbl -->
                                </div><!-- plr-25 ptb-15 -->
                            </div><!-- hot-news -->
                        </div><!-- card -->
                    </div><!-- col-lg-4 col-md-6 -->
						
                    <!-- END OF SECOND PARA -->
				
                    <!-- START OF THIRD PARA -->
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4  mb-30">
                        <div class="card h-100 bg-white">
                            <div class="plr-25 ptb-15 h-100">
                                <div class="dplay-tbl">
                                    <div class="dplay-tbl-cell">
										
                                        <h5 class="color-ash"><b>ART</b></h5>
                                        <h4 class="mtb-10"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h4>
                                        <ul class="list-li-mr-10 color-lt-black">
                                            <li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
                                            <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
                                        </ul>
											
                                    </div><!-- dplay-tbl-cell -->
                                </div><!-- dplay-tbl -->
                            </div><!-- plr-25 ptb-15 -->
                        </div><!-- card -->
                    </div><!-- col-lg-4 col-md-6 -->
						
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-30">
						
                        <!-- SETTING IMAGE WITH bg-4 -->
                        <div class="card h-100 pos-relative bg-4 bg-layer-4 color-white">
                            <div class="plr-25 ptb-15">
                                <h5 class="color-grey"><b>ART</b></h5>
                                <h4 class="mtb-10"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h4>
                                <ul class="list-li-mr-10 color-grey">
                                    <li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
                                    <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
                                </ul>
                            </div><!-- hot-news -->
                        </div><!-- card -->
                    </div><!-- col-lg-4 col-md-6 -->
						
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-30">
						
                        <!-- SETTING IMAGE WITH bg-5 -->
                        <div class="card pos-relative h-100 bg-5 bg-layer-4 color-white">
                            <div class="plr-25 ptb-15">
                                <h5 class="color-grey"><b>ART</b></h5>
                                <h4 class="mtb-10"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h4>
                                <ul class="list-li-mr-10 color-grey">
                                    <li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
                                    <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
                                </ul>
                            </div><!-- hot-news -->
                        </div><!-- card -->
                    </div><!-- col-lg-4 col-md-6 -->
					
                    <!-- END OF THIRD PARA -->
                </div><!-- row -->
					
                <h4 class="mb-30 mt-20 clearfix"><b>Most Popular Videos</b></h4>
					
                <div class="row">
                    <div class="col-sm-12 mb-30 swiper-area ">
						
                        <!-- SETTING IMAGE WITH bg-6 -->
                        <div class="bg-6 p-40 bg-layer-4 pos-relative z-1 oflow-hidden pr-0 color-white">
                            <div class="mx-w-200x">
                                <h5 class="color-grey"><b>ART</b></h5>
                                <h2 class="mtb-10"><a href="#">
                                    <b>As an Alchoholic, Your Company "Parks" are Killing me</b></a></h2>
                            </div><!-- mx-w-200x -->
								
                            <div class="all-scroll pos-relative mt-50">
                                <h5 class="mb-50"><b>HOT NEWS</b></h5>
										
                                <div class="swiper-scrollbar"></div>
									
                                <div class="swiper-container oflow-visible" data-slide-effect="slide" data-autoheight="false" 
                                    data-swiper-speed="500" data-swiper-margin="25" data-swiper-slides-per-view="3"
                                    data-swiper-breakpoints="true" data-scrollbar="true" data-swiper-loop="true"
                                    data-swpr-responsive="[1, 2, 2, 2]">
										
									
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="pos-relative">
                                                <a class="abs-center circle-50 bg-tp-5 text-center" href="#">
                                                    <i class="lh-50 font-12 ion-play"></i></a>
                                                <img src="/static/images/trending_2_400X250.jpg" alt="">
                                            </div><!-- pos-relative -->
                                        </div><!-- swiper-slide -->
											
                                        <div class="swiper-slide">
                                            <div class="pos-relative">
                                                <a class="abs-center circle-50 bg-tp-5 text-center" href="#">
                                                    <i class="lh-50 font-12 ion-play"></i></a>
                                                <img src="/static/images/trending_3_400X250.jpg" alt="">
                                            </div><!-- pos-relative -->
                                        </div><!-- swiper-slide -->
											
                                        <div class="swiper-slide">
                                            <div class="pos-relative">
                                                <a class="abs-center circle-50 bg-tp-5 text-center" href="#">
                                                    <i class="lh-50 font-12 ion-play"></i></a>
                                                <img src="/static/images/latest_articles_8_400x250.jpg" alt="">
                                            </div><!-- pos-relative -->
                                        </div><!-- swiper-slide -->
											
                                        <div class="swiper-slide">
                                            <div class="pos-relative">
                                                <a class="abs-center circle-50 bg-tp-5 text-center" href="#">
                                                    <i class="lh-50 font-12 ion-play"></i></a>
                                                <img src="/static/images/latest_articles_3_400x250.jpg" alt="">
                                            </div><!-- pos-relative -->
                                        </div><!-- swiper-slide -->
											
                                    </div><!-- swiper-wrapper -->
                                </div><!-- swiper-container -->
										
                            </div><!-- swiper-area -->
								
                        </div><!-- bg-4 -->
                    </div><!-- col-lg-4 col-md-6 -->
                </div><!-- row -->
					
                <h4 class="mb-30 mt-20 clearfix"><b>Most Popular Videos</b></h4>
					
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-30">
                        <div class="card h-100 bg-white">
                            <div class="plr-25 ptb-15 h-100">
                                <div class="dplay-tbl">
                                    <div class="dplay-tbl-cell">
                                        <h5 class="color-ash"><b>FASHION</b></h5>
                                        <h2 class="mtb-10"><a href="#">
                                            <b>As an Alchoholic, Your Company "Parks" are Killing me</b></a></h2>
                                        <ul class="list-li-mr-10 color-lt-black">
                                            <li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
                                            <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
                                        </ul>
                                    </div><!-- dplay-tbl-cell -->
                                </div><!-- dplay-tbl -->
                            </div><!-- plr-25 ptb-15 -->
                        </div><!-- card -->
                    </div><!-- col-lg-4 col-md-6 -->
						
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-30">
                        <div class="card h-100">
							
                            <div class="h-50 pb-15">
                                <div class="plr-25 h-100 ptb-15 bg-white">
                                    <div class="dplay-tbl">
                                        <div class="dplay-tbl-cell">
											
                                            <h5 class="color-ash"><b>ART</b></h5>
                                            <h4 class="mtb-10"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h4>
                                            <ul class="list-li-mr-10 color-ash">
                                                <li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
                                                <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
                                            </ul>
												
                                        </div><!-- dplay-tbl-cell -->
                                    </div><!-- dplay-tbl -->
                                </div><!-- plr-25 ptb-15 -->
                            </div><!--h-50 bg-white -->
								
                            <div class="h-50 pt-15">
									
                                <!-- SETTING IMAGE WITH bg-7 -->
                                <div class="plr-25 ptb-15 pos-relative h-100 bg-7 bg-layer-4 color-white">
                                    <div class="dplay-tbl">
                                        <div class="dplay-tbl-cell">
											
                                            <h5 class="color-grey"><b>ART</b></h5>
                                            <h4 class="mtb-10"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h4>
                                            <ul class="list-li-mr-10 color-grey">
                                                <li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
                                                <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
                                            </ul>
												
                                        </div><!-- dplay-tbl-cell -->
                                    </div><!-- dplay-tbl -->
                                </div><!-- plr-25 ptb-15 -->
                            </div><!--h-50 bg-white -->
								
                        </div><!-- card -->
                    </div><!-- col-lg-4 col-md-6 -->
						
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-30">
						
                        <!-- SETTING IMAGE WITH bg-8 -->
                        <div class="card pos-relative h-100 bg-8 bg-layer-4 color-white">
                            <div class="plr-25 ptb-15 h-100">
                                <div class="dplay-tbl">
                                    <div class="dplay-tbl-cell">
										
                                        <h5 class="color-grey"><b>ART</b></h5>
                                        <h2 class="mtb-10"><a href="#">
                                            <b>As an Alchoholic, Your Company "Parks" are Killing me</b></a></h2>
                                        <ul class="list-li-mr-10 color-grey">
                                            <li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
                                            <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
                                        </ul>
											
                                    </div><!-- dplay-tbl-cell -->
                                </div><!-- dplay-tbl -->
                            </div><!-- plr-25 ptb-15 -->
                        </div><!-- card -->
                    </div><!-- col-lg-4 col-md-6 -->
						
						
                    <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-30">
                        <div class="card h-100 min-h-350x">
                            <div class="bg-white h-100">
								
                                <!-- SETTING IMAGE WITH bg-10 -->
                                <div class="h-50 bg-10"></div>
									
                                <div class="plr-25 ptb-15 h-50">
                                    <div class="dplay-tbl">
                                        <div class="dplay-tbl-cell">
											
                                            <h5 class="color-ash"><b>ART</b></h5>
                                            <h4 class="mtb-10">
                                                <a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h4>
                                            <ul class="list-li-mr-10 color-lt-black">
                                                <li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
                                                <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
                                            </ul>
												
                                        </div><!-- dplay-tbl-cell -->
                                    </div><!-- dplay-tbl -->
                                </div><!-- plr-25 ptb-15 -->
                            </div><!-- hot-news -->
                        </div><!-- card -->
                    </div><!-- col-lg-4 col-md-6 -->
						
						
                    <!-- START OF SECOND PARA -->
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 mb-30">
                        <div class="card h-100 h-xs-500x">
                            <div class="sided-half sided-xs-half h-100 bg-white">
								
                                <!-- SETTING IMAGE WITH bg-9 -->
                                <div class="s-left w-50 w-xs-100 h-100 h-xs-50 pos-relative">
                                    <div class="bg-9 abs-tblr"></div></div>
									
                                <div class="s-right w-50 w-xs-100 h-xs-50">
                                    <div class="plr-25 ptb-25 h-100">
                                        <div class="dplay-tbl">
                                            <div class="dplay-tbl-cell">
												
                                                <h5 class="color-ash"><b>ART</b></h5>
                                                <h2 class="mtb-10"><a href="#">
                                                    <b>As an Alchoholic, Your Company "Parks" are Killing me</b></a></h2>
                                                <ul class="list-li-mr-10 color-lt-black">
                                                    <li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
                                                    <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
                                                </ul>
													
                                            </div><!-- dplay-tbl-cell -->
                                        </div><!-- dplay-tbl -->
                                    </div><!-- plr-25 ptb-25 -->
                                </div><!-- s-right -->
                            </div><!-- sided-half -->
                        </div><!-- card -->
                    </div><!-- col-lg-8 col-md-12 -->
						
                    <!-- END OF SECOND PARA -->
                </div><!-- row -->
					
                <h6 class="text-center mt-20"><a class="btn-brdr-grey color-ash plr-30" href="#"><b>LOAD MORE</b></a></h6>
            </div><!-- col-sm-9 -->
				
            <div class="col-md-12 col-lg-3 bg-2-white ptb-50 pl-30 pl-md-15">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="mx-w-md-400x mlr-md-auto">
							
                            <div class="mb-50">
                                <h5 class="mb-30"><b>TOP STORIES</b></h5>
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left">
                                        <img src="/static/images/top_1_120x120.jpg" alt="">
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5 class="pt-5"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left">
                                        <img src="/static/images/top_2_120x120.jpg" alt="">
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5 class="pt-5"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left">
                                        <img src="/static/images/top_3_120x120.jpg" alt="">
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5 class="pt-5"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left">
                                        <img src="/static/images/top_4_120x120.jpg" alt="">
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5 class="pt-5"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
                            </div><!-- mb-50 -->
								
                            <a class="mb-50 pos-relative dplay-block" href="#">
									
                                <img src="/static/images/sidebar_2_400X600.jpg" alt="">
                                <div class="abs-tblr z-10 bg-layer-4">
									
                                    <div class="dplay-tbl text-center color-white">
                                        <div class="dplay-tbl-cell">
                                            <h1 class="mb-10"><b class="mr-15">S</b><b class="ml-15">A</b></h1>
                                            <h1 class="mt-10"><b class="mr-15">L</b><b class="ml-15">E</b></h1>
                                        </div>
                                    </div><!-- dplay-tbl -->
                                </div><!-- abs-tblr -->
                            </a><!-- mb-50 -->
								
                            <div class="mb-50">
                                <h5 class="mb-30"><b>NEWEST VIDEO</b></h5>
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left">
                                        <a class="v-icn" href="#"><i class="ion-play"></i></a>
                                        <img src="/static/images/top_5_120x120.jpg" alt="">
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5 class="pt-5"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left">
                                        <a class="v-icn" href="#"><i class="ion-play"></i></a>
                                        <img src="/static/images/top_6_120x120.jpg" alt="">
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5 class="pt-5"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left">
                                        <a class="v-icn" href="#"><i class="ion-play"></i></a>
                                        <img src="/static/images/top_7_120x120.jpg" alt="">
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5 class="pt-5"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left">
                                        <a class="v-icn" href="#"><i class="ion-play"></i></a>
                                        <img src="/static/images/top_1_120x120.jpg" alt="">
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5 class="pt-5"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
                            </div><!-- mb-50 -->
								
                            <a class="mb-50 pos-relative dplay-block" href="#">
								
                                <img src="/static/images/sidebar_1_400X300.jpg" alt="">
                                <div class="abs-tblr z-10 bg-layer-4">
									
                                    <div class="dplay-tbl text-center color-white">
                                        <div class="dplay-tbl-cell">
                                            <h3><b>CHARITY</b></h3>
                                            <h4><b>tournament</b></h4>
                                        </div>
                                    </div><!-- dplay-tbl -->
                                </div><!-- abs-tblr -->
                            </a><!-- mb-50 -->
								
                            <div class="mb-0">
                                <h5 class="mb-30"><b>NEWEST VIDEO</b></h5>
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left color-ash text-center">
                                        <div class="dplay-tbl">
                                            <div class="dplay-tbl-cell">
                                                <h2><b>16</b></h2>
                                                <h4><b>JAN</b></h4>
                                            </div><!-- dplay-tbl-cell -->
                                        </div><!-- dplay-tbl -->
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left color-ash text-center">
                                        <div class="dplay-tbl">
                                            <div class="dplay-tbl-cell">
                                                <h2><b>16</b></h2>
                                                <h4><b>JAN</b></h4>
                                            </div><!-- dplay-tbl-cell -->
                                        </div><!-- dplay-tbl -->
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left color-ash text-center">
                                        <div class="dplay-tbl">
                                            <div class="dplay-tbl-cell">
                                                <h2><b>16</b></h2>
                                                <h4><b>JAN</b></h4>
                                            </div><!-- dplay-tbl-cell -->
                                        </div><!-- dplay-tbl -->
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left color-ash text-center">
                                        <div class="dplay-tbl">
                                            <div class="dplay-tbl-cell">
                                                <h2><b>16</b></h2>
                                                <h4><b>JAN</b></h4>
                                            </div><!-- dplay-tbl-cell -->
                                        </div><!-- dplay-tbl -->
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
                            </div><!-- mb-50 -->
								
                        </div><!-- mx-w-400 -->
                    </div><!-- col-sm-9 -->
                </div><!-- row -->
            </div><!-- col-sm-3 -->
        </div><!-- row -->
    </div><!-- container -->
</section>
    
{% endblock main %}
    