{% extends 'bases/base.html' %}

{% block main %}
<div class="slider-main h-500x h-sm-auto pos-relative pt-95 pb-25">
    <div class="img-bg bg-1 bg-layer-4"></div>
    <div class="container-fluid h-100 mt-xs-50">
        <div class="dplay-tbl">
            <div class="dplay-tbl-cell color-white text-center">
				
                <h1 class="ptb-50"><b>Terms of Use</b></h1>
					
            </div><!-- dplay-tbl-cell -->
        </div><!-- dplay-tbl -->
    </div><!-- container -->
</div><!-- slider-main -->
	
	
<section class="bg-1-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bg-white p-50">
                    <p>At that event and the ones that followed, plenty of senior citizens — among them librarians, property developers, teachers, doctors — proudly 
                    and happily recounted their acid trips. It was both charming and disconcerting to hear someone my father’s age telling me how they’d tripped their 
                    balls off on the beach in 1968. It shouldn’t have been a surprise, I suppose. Research shows that something like 20 million Americans have used LSD, 
                    many of those back in its 1960s heyday. Still, it was fascinating to hear how their experiences with psychedelics shaped and transformed.</p>
						
                    <h3 class="mtb-50 mtb-sm-30"><b>“I don’t think I would have attempted such a complicated, multifaceted work had I not been microdosing with LSD.”</b></h3>
						
                    <p>Though I was eager to share the results of the experiment with others who suffer from depression or other mood issues, my previous book, 
                    Love and Treasure, was a novel set against the backdrop of the Holocaust in Hungary. 
                    In support of that novel, I traveled around the country from Jewish community center to synagogue to Jewish book club.</p>
						
                </div><!-- col-sm-3 -->
            </div><!-- col-sm-3 -->
        </div><!-- row -->
    </div><!-- container -->
</section>
{% endblock main %}
    