{% extends 'bases/base.html' %}

{% block main %}
<div class="slider-main h-800x h-sm-auto pos-relative pt-95 pb-25">
    <div class="img-bg bg-16 bg-layer-6"></div>
    <div class="container-fluid h-100 mt-xs-50">
        <div class="dplay-tbl">
            <div class="dplay-tbl-cell">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
						
                        <div class="bg-white p-40 psm-30">
                            <h5 class="color-ash"><b>ART</b></h5>
                            <h1 class="mt-20 lh-1-2"><b>The Shoddy Science Behind most Pregnancy Advice</b></h1>
							
                        </div><!-- bg-white -->
                    </div><!-- col-lg-4 -->
                </div><!-- row -->
            </div><!-- dplay-tbl-cell -->
        </div><!-- dplay-tbl -->
    </div><!-- container -->
</div><!-- slider-main -->
	
	
<section class="bg-1-white ptb-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-md-12 col-lg-8 ptb-50 pr-30 pr-md-15">
					
                <div class="row">
                    <div class="col-sm-12 col-md-6">
							
                        <div class="sided-70x">
                            <div class="s-left">
                                <img src="/static/images/profile.jpg" alt="">
                            </div><!-- s-left-->
								
                            <div class="s-right">
                                <p class="ptb-20 color-ash"><b>Katy Liu on Sep 29, 2017 at 9:48 am</b></p>
                            </div>
                        </div><!-- sided-80x-->
                    </div><!-- col-md-6-->
						
                    <div class="col-sm-12 col-md-6">
                        <ul class="color-ash lh-70 text-right text-sm-left list-a-plr-10 font-13">
                            <li><b>SHARE</b></li>
                            <li><a href="#"><i class="color-facebook ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="color-twitter ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="color-google ion-social-google"></i></a></li>
                        </ul>
                    </div><!-- col-md-6-->
                </div><!-- row-->
					
                <p class="mt-40 mt-sm-10">At that event and the ones that followed, plenty of senior citizens — among them librarians, property developers, teachers, doctors — proudly 
                and happily recounted their acid trips. It was both charming and disconcerting to hear someone my father’s age telling me how they’d tripped their 
                balls off on the beach in 1968. It shouldn’t have been a surprise, I suppose. Research shows that something like 20 million Americans have used LSD, 
                many of those back in its 1960s heyday. Still, it was fascinating to hear how their experiences with psychedelics shaped and transformed.</p>
					
                <h3 class="mtb-50"><b>“I don’t think I would have attempted such a complicated, multifaceted work had I not been microdosing with LSD.”</b></h3>
					
					
                <p class="mb-50">Though I was eager to share the results of the experiment with others who suffer from depression or other mood issues, my previous book, 
                Love and Treasure, was a novel set against the backdrop of the Holocaust in Hungary. 
                In support of that novel, I traveled around the country from Jewish community center to synagogue to Jewish book club.</p>
					
                <img src="/static/images/slider_5_1600x1000.jpg" alt="">
                <p class="color-ash text-center mt-15"><em>Even more important, I believe my family would be better off.</em></p>
					
                <p class="mt-50">At that event and the ones that followed, plenty of senior citizens — among them librarians, property developers, teachers, doctors — proudly 
                and happily recounted their acid trips. It was both charming and disconcerting to
                hear someone my father’s age telling me how they’d tripped their balls off on the beach in 1968. It shouldn’t have been a surprise, I suppose.</p>
					
                <ul class="tag mtb-50">
					
                    <li><a href="#"><b>Manual</b></a></li>
                    <li><a href="#"><b>Liberty</b></a></li>
                    <li><a href="#"><b>InterPretitaion</b></a></li>
                </ul>
					
                <div class="row">
                    <div class="col-sm-12 col-md-6">
							
                        <div class="sided-70x">
                            <div class="s-left">
                                <img src="/static/images/profile.jpg" alt="">
                            </div><!-- s-left-->
								
                            <div class="s-right">
                                <p class="ptb-20 color-ash"><b>Katy Liu on Sep 29, 2017 at 9:48 am</b></p>
                            </div>
                        </div><!-- sided-80x-->
                    </div><!-- col-md-6-->
						
                    <div class="col-sm-12 col-md-6">
                        <ul class="color-ash lh-70 text-right text-sm-left list-a-plr-10 font-13">
                            <li><b>SHARE</b></li>
                            <li><a href="#"><i class="color-facebook ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="color-twitter ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="color-google ion-social-google"></i></a></li>
                        </ul>
                    </div><!-- col-md-6-->
                </div><!-- row-->
					
                <div class="brdr-grey-1 mt-50 mt-sm-20"></div>
					
                <div class="mt-50 mb-20">
                    <div class="row">
                        <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-30">
                            <div class="card h-100 min-h-350x">
                                <div class="bg-white h-100">
									
                                    <!-- SETTING IMAGE WITH bg-10 -->
                                    <div class="h-50 bg-10"></div>
										
                                    <div class="plr-25 ptb-15 h-50">
                                        <div class="dplay-tbl">
                                            <div class="dplay-tbl-cell">
												
                                                <h5 class="color-ash"><b>ART</b></h5>
                                                <h4 class="mtb-10">
                                                    <a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h4>
                                                <ul class="list-li-mr-10 color-lt-black">
                                                    <li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
                                                    <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
                                                </ul>
													
                                            </div><!-- dplay-tbl-cell -->
                                        </div><!-- dplay-tbl -->
                                    </div><!-- plr-25 ptb-15 -->
                                </div><!-- hot-news -->
                            </div><!-- card -->
                        </div><!-- col-lg-4 col-md-6 -->
							
                        <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-30">
                            <div class="card h-100 min-h-350x">
                                <div class="bg-white h-100">
									
                                    <!-- SETTING IMAGE WITH bg-10 -->
                                    <div class="h-50 bg-5"></div>
										
                                    <div class="plr-25 ptb-15 h-50">
                                        <div class="dplay-tbl">
                                            <div class="dplay-tbl-cell">
												
                                                <h5 class="color-ash"><b>ART</b></h5>
                                                <h4 class="mtb-10">
                                                    <a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h4>
                                                <ul class="list-li-mr-10 color-lt-black">
                                                    <li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
                                                    <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
                                                </ul>
													
                                            </div><!-- dplay-tbl-cell -->
                                        </div><!-- dplay-tbl -->
                                    </div><!-- plr-25 ptb-15 -->
                                </div><!-- hot-news -->
                            </div><!-- card -->
                        </div><!-- col-lg-4 col-md-6 -->
							
                        <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-30">
                            <div class="card h-100 min-h-350x">
                                <div class="bg-white h-100">
									
                                    <!-- SETTING IMAGE WITH bg-10 -->
                                    <div class="h-50 bg-12"></div>
										
                                    <div class="plr-25 ptb-15 h-50">
                                        <div class="dplay-tbl">
                                            <div class="dplay-tbl-cell">
												
                                                <h5 class="color-ash"><b>ART</b></h5>
                                                <h4 class="mtb-10">
                                                    <a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h4>
                                                <ul class="list-li-mr-10 color-lt-black">
                                                    <li><i class="mr-5 font-12 ion-android-favorite-outline"></i>15</li>
                                                    <li><i class="mr-5 font-12 ion-ios-chatbubble-outline"></i>105</li>
                                                </ul>
													
                                            </div><!-- dplay-tbl-cell -->
                                        </div><!-- dplay-tbl -->
                                    </div><!-- plr-25 ptb-15 -->
                                </div><!-- hot-news -->
                            </div><!-- card -->
                        </div><!-- col-lg-4 col-md-6 -->
                    </div><!-- row-->	
                </div><!-- mt-50 mb-20-->	
					
					
                <h4 class="mb-30 mt-20 clearfix"><b>Post Comment</b></h4>
					
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
                        <form class="form-block form-h-55 form-plr-20 form-bg-white">
                            <div class="row">
                                <div class="col-sm-6 mb-30">
                                    <input type="text" placeholder="Name">
                                </div><!-- col-sm-6-->	
									
                                <div class="col-sm-6 mb-30">
                                    <input type="text" placeholder="Email">
                                </div><!-- col-sm-6-->
									
                                <div class="col-sm-12 mb-30">
                                    <textarea class="ptb-20 min-h-200x" placeholder="Comment"></textarea>
                                </div><!-- col-sm-12-->
									
                            </div><!-- row-->
                            <button class="btn-b-lg btn-brdr-grey plr-25 color-ash" type="submit"><b>Post Comment</b></button>
								
                        </form>
                    </div><!-- col-sm-6-->	
                </div><!-- row-->	
					
					
                <h4 class="mb-30 mt-50 clearfix"><b>Comments(12)</b></h4>
					
					
                <div class="row">
                    <div class="colsm-12 col-md-12 col-lg-12 col-xl-8">
                        <div class="p-30 bg-white">
                            <div class="row">
                                <div class="col-9 col-lg-9 col-xl-6">
										
                                    <div class="sided-70x">
                                        <div class="s-left">
                                            <img src="/static/images/profile.jpg" alt="">
                                        </div><!-- s-left-->
											
                                        <div class="s-right">
                                            <p class="ptb-5 color-ash"><b>Katy Liu on Sep 29, 2017 at 9:48 am</b></p>
                                        </div>
                                    </div><!-- sided-80x-->
                                </div><!-- col-md-6-->
									
                                <div class="col-3 col-lg-3 col-xl-6 text-right">
                                    <a class="color-ash" href="#"><b>REPLY</b></a>
                                </div><!-- col-md-6-->
                            </div><!-- row-->
					
                            <p class="mt-30">At that event and the ones that followed, plenty of senior citizens — among them librarians, property developers</p>
                        </div><!-- p-30-->	
                    </div><!-- col-sm-6-->	
                </div><!-- row-->	
					
                <a class="mt-30 mb-50 mb-sm-20 btn-b-lg btn-brdr-grey plr-25 color-ash" href="#"><b>Load More</b></a>
					
            </div><!-- col-sm-9 -->
				
            <div class="col-md-12 col-lg-3 bg-2-white ptb-50 pl-30 pl-md-15">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="mx-w-md-400x mlr-md-auto">
							
                            <div class="mb-50">
                                <h5 class="mb-30"><b>TOP STORIES</b></h5>
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left">
                                        <img src="/static/images/top_1_120x120.jpg" alt="">
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5 class="pt-5"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left">
                                        <img src="/static/images/top_2_120x120.jpg" alt="">
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5 class="pt-5"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left">
                                        <img src="/static/images/top_3_120x120.jpg" alt="">
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5 class="pt-5"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left">
                                        <img src="/static/images/top_4_120x120.jpg" alt="">
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5 class="pt-5"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
                            </div><!-- mb-50 -->
								
                            <a class="mb-50 pos-relative dplay-block" href="#">
									
                                <img src="/static/images/sidebar_2_400X600.jpg" alt="">
                                <div class="abs-tblr z-10 bg-layer-4">
									
                                    <div class="dplay-tbl text-center color-white">
                                        <div class="dplay-tbl-cell">
                                            <h1 class="mb-10"><b class="mr-15">S</b><b class="ml-15">A</b></h1>
                                            <h1 class="mt-10"><b class="mr-15">L</b><b class="ml-15">E</b></h1>
                                        </div>
                                    </div><!-- dplay-tbl -->
                                </div><!-- abs-tblr -->
                            </a><!-- mb-50 -->
								
                            <div class="mb-50">
                                <h5 class="mb-30"><b>NEWEST VIDEO</b></h5>
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left">
                                        <a class="v-icn" href="#"><i class="ion-play"></i></a>
                                        <img src="/static/images/top_5_120x120.jpg" alt="">
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5 class="pt-5"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left">
                                        <a class="v-icn" href="#"><i class="ion-play"></i></a>
                                        <img src="/static/images/top_6_120x120.jpg" alt="">
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5 class="pt-5"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left">
                                        <a class="v-icn" href="#"><i class="ion-play"></i></a>
                                        <img src="/static/images/top_7_120x120.jpg" alt="">
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5 class="pt-5"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left">
                                        <a class="v-icn" href="#"><i class="ion-play"></i></a>
                                        <img src="/static/images/top_1_120x120.jpg" alt="">
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5 class="pt-5"><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
                            </div><!-- mb-50 -->
								
                            <a class="mb-50 pos-relative dplay-block" href="#">
								
                                <img src="/static/images/sidebar_1_400X300.jpg" alt="">
                                <div class="abs-tblr z-10 bg-layer-4">
									
                                    <div class="dplay-tbl text-center color-white">
                                        <div class="dplay-tbl-cell">
                                            <h3><b>CHARITY</b></h3>
                                            <h4><b>tournament</b></h4>
                                        </div>
                                    </div><!-- dplay-tbl -->
                                </div><!-- abs-tblr -->
                            </a><!-- mb-50 -->
								
                            <div class="mb-0">
                                <h5 class="mb-30"><b>NEWEST VIDEO</b></h5>
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left color-ash text-center">
                                        <div class="dplay-tbl">
                                            <div class="dplay-tbl-cell">
                                                <h2><b>16</b></h2>
                                                <h4><b>JAN</b></h4>
                                            </div><!-- dplay-tbl-cell -->
                                        </div><!-- dplay-tbl -->
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left color-ash text-center">
                                        <div class="dplay-tbl">
                                            <div class="dplay-tbl-cell">
                                                <h2><b>16</b></h2>
                                                <h4><b>JAN</b></h4>
                                            </div><!-- dplay-tbl-cell -->
                                        </div><!-- dplay-tbl -->
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left color-ash text-center">
                                        <div class="dplay-tbl">
                                            <div class="dplay-tbl-cell">
                                                <h2><b>16</b></h2>
                                                <h4><b>JAN</b></h4>
                                            </div><!-- dplay-tbl-cell -->
                                        </div><!-- dplay-tbl -->
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
									
                                <div class="sided-80x mb-20">
                                    <div class="s-left color-ash text-center">
                                        <div class="dplay-tbl">
                                            <div class="dplay-tbl-cell">
                                                <h2><b>16</b></h2>
                                                <h4><b>JAN</b></h4>
                                            </div><!-- dplay-tbl-cell -->
                                        </div><!-- dplay-tbl -->
                                    </div><!-- s-left -->
                                    <div class="s-right">
                                        <h5><a href="#"><b>I Got off Addrall and Xanax Using Psilocybon</b></a></h5>
                                    </div><!-- s-left -->
                                </div><!-- sided-80x -->
                            </div><!-- mb-50 -->
								
                        </div><!-- mx-w-400 -->
                    </div><!-- col-sm-9 -->
                </div><!-- row -->
            </div><!-- col-sm-3 -->
        </div><!-- row -->
    </div><!-- container -->
</section>
{% endblock main %}
    